<!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/design/images/appicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/design/images/appicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/design/images/appicon/favicon-16x16.png">
    <link rel="manifest" href="/design/images/appicon/manifest.json">
    <link rel="mask-icon" href="/design/images/appicon/safari-pinned-tab.svg" color="#000000">

    <meta name="apple-mobile-web-app-title" content="">
    <meta name="application-name" content="">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">